/*Change all the text on each page to the imported font from google*/
*{
    font-family: 'Oswald', sans-serif;
}    
/*A background design for the container*/
.container{    
    background-image: url("./images/bg-design.jpg");

}

.logo {
    width: 100px;
    height: 100px;
    float: left;
}

.img-fluid{
    margin-bottom: 20px;
}

.yellow{
    color: gold;
}

.blue{
    color: royalblue;
}

a {
    color: rgb(66, 66, 255);
}

.about-body{
    font-size: large;
}

div.p-3.mb-2.text-center, footer {
    background:linear-gradient(45deg, blue, lightblue);
}

nav.navbar.navbar-expand-lg.navbar-light, footer {
    font-size: 20px;
}
